{
    "semi": true,
    "singleQuote": false,
    "printWidth": 120,
    "editorconfig": true,

    "plugins": ["./node_modules/prettier-plugin-twig-melody"],
    "twigPrintWidth": 120,
    "twigSingleQuote": false,
    "twigAlwaysBreakObjects": false,
    "twigFollowOfficialCodingStandards": true,
    "twigOutputEndblockName": true
}
