{
    "semi": true,
    "singleQuote": false,
    "editorconfig": true,

    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "quoteProps": "consistent",
    "printWidth": 180,
    "trailingComma": "all",

    "plugins": ["./node_modules/prettier-plugin-twig-melody"],
    "twigPrintWidth": 180,
    "twigSingleQuote": false,
    "twigAlwaysBreakObjects": false,
    "twigFollowOfficialCodingStandards": true,
    "twigOutputEndblockName": true
}
