{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:feed") }}
    {{ encore_entry_link_tags("component:vue") }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:vue") }}
{% endblock javascripts %}

{% block body %}
    <h1 id="title">
        Fil d'actualités
    </h1>

    <div {{ vue_component("TimelineWrapper") }}></div>
{% endblock body %}
