{% extends "base.html.twig" %}

{% block title %}
    Hello HomeController!
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("component:Timeline") }}
{% endblock stylesheets %}

{% block body %}
    <h1 class="text-2xl">
        Activity log
    </h1>

    <time-line>
        <p>
            Bonjour
        </p>
    </time-line>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:Timeline") }}
{% endblock javascripts %}
