{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}

{% endblock javascripts %}

{% block body %}
    <h1>
        Activity log
    </h1>

    <div {{ vue_component("MyComponent", { name: "MrAnyx" }) }}></div>
{% endblock body %}
