{% extends "base.html.twig" %}

{% block title %}
    Feed
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block body %}
    <h1 class="text-2xl">
        Activity log
    </h1>

    <timeline-wc>
        {% for post in posts %}
            <timeline-element-wc type="{{ post.type }}" content="{{ post.preview }}"></timeline-element-wc>
        {% endfor %}
    </timeline-wc>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("component:Timeline") }}
    {{ encore_entry_script_tags("component:TimelineElement") }}
{% endblock javascripts %}
