<section id="breadcrumb-container">
    <i data-feather="{{ icon }}" class="first-two-icon type-icon"></i>
    <i data-feather="chevron-right" class="first-two-icon separator" stroke-width="3px" width="12px" height="12px"></i>
    <span class="secondary">{{ type.value|capitalize }}</span>
    <i data-feather="chevron-right" class="separator" stroke-width="3px" width="12px" height="12px"></i>
    <span class="primary" title="{{ name }}">{{ name }}</span>
</section>
