@font-face {
    font-family: "Droid";
    src: url("../../fonts/droid/DroidSerif.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Droid";
    src: url("../../fonts/droid/DroidSerif-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Droid";
    src: url("../../fonts/droid/DroidSerif-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
