@font-face {
    font-family: "Jost";
    src: url("../../fonts/jost/Jost-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../../fonts/jost/Jost-VariableItalic.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}
