@font-face {
    font-family: "Supreme";
    src: url("../../fonts/supreme/Supreme-Variable.woff2") format("woff2"), url("../../fonts/supreme/Supreme-Variable.woff") format("woff"),
        url("../../fonts/supreme/Supreme-Variable.ttf") format("truetype");
    font-weight: 100 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Supreme";
    src: url("../../fonts/supreme/Supreme-VariableItalic.woff2") format("woff2"), url("../../fonts/supreme/Supreme-VariableItalic.woff") format("woff"),
        url("../../fonts/supreme/Supreme-VariableItalic.ttf") format("truetype");
    font-weight: 100 700;
    font-display: swap;
    font-style: italic;
}
