#app {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 var(--mobile-padding);

    #main-container {
        margin-top: 20px;
        width: 100%;
        max-width: var(--content-size);
    }
}
