#header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-bottom: 2px solid var(--light-medium);
    position: fixed;
    z-index: 10;

    #header-container {
        width: 100%;
        max-width: var(--content-size);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--mobile-border-margin);
    }

    img {
        width: 36px;
        aspect-ratio: 1;
        cursor: pointer;
    }
}
