@import "../mixins.scss";

#parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    padding: 0 30px;
    min-height: 550px;

    #image-div {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 25px;

        #title {
            text-align: center;
            font-size: 28px;
            color: var(--text-danger);
            font-family: Jakarta;

            @include maxWidth(600px) {
                font-size: 22px;
            }
        }

        #description {
            display: block;
            text-align: center;
            font-size: 18px;
            color: var(--text);
            margin: 0;

            @include maxWidth(600px) {
                font-size: 16px;
            }
        }
    }

    #links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

        #links-text {
            display: block;
            text-align: center;
            font-size: 16px;
            color: var(--dark-very-soft);

            @include maxWidth(600px) {
                font-size: 15px;
            }
        }
        #links-items {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            font-weight: 600;

            @include maxWidth(600px) {
                font-size: 14px;
            }
        }
    }
}
