#app {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0 40px 0;

    #main-container {
        margin-top: 20px;
        width: 100%;
        max-width: var(--content-size);
        margin-left: var(--mobile-border-margin);
        margin-right: var(--mobile-border-margin);
    }
}
