#app {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0 40px 0;
    min-height: calc(100% - var(--footer-height));

    #main-container {
        width: 100%;
        max-width: var(--content-size);
        padding-left: var(--mobile-border-margin);
        padding-right: var(--mobile-border-margin);
    }
}
