:root {
    --white: #fff;
    --light: #f9f7f7;
    --light-soft: #f3f3f3;
    --light-medium: #dbe2ef;
    --light-dark: #a8a8a8;

    --dark: #00334e;
    --dark-medium: #393e46;
    --dark-light: #52616b;
    --dark-soft: #6d777e;
    --dark-very-soft: #8a9399;

    --text: #41454b;

    --primary: #5c81fc;
    --secondary: #00adb5;
    --danger: #ea5455;
    --warning: #ff6f3c;
    --success: #15925e;

    --soft-blue: #9ea6d2;
    --soft-blue-dark: #7680b1;
    --soft-blue-background: #ebeffd;
    --soft-blue-background-hover: #eeeeee;

    --header-height: 58px;

    --mobile-border-margin: 18px;

    --content-size: 1000px;
}
