@import "mixins";

:root {
    --white: #fff;
    --light: #f9f7f7;
    --light-very-soft: #f5f5f5;
    --light-soft: #eeeeee;
    --light-light: #e1e5e9;
    --light-medium: #dbe2ef;
    --light-dark: #a8a8a8;

    --dark: #00334e;
    --dark-transparent: #00334e34;
    --dark-medium: #393e46;
    --dark-light: #52616b;
    --dark-soft: #6d777e;
    --dark-very-soft: #8a9399;

    --text: #41454b;
    --soft-text: #bac0ca;

    --orange: #ff6e03;

    --danger: #ea5455;
    --text-danger: #c51212;
    --soft-danger: #ffdfdf;
    --danger-transparent: #ea545517;
    --danger-semi-transparent: #ea545456;

    --primary: #5c81fc;
    --text-primary: #516cc5;
    --soft-primary: #d6e0ff;
    --primary-transparent: #5c81fc17;
    --primary-semi-transparent: #5c81fc56;
    --primary-transparent-hover: #3151bd17;
    --primary-hover: #446cf0;

    --secondary: #00adb5;

    --warning: #ff6f3c;
    --text-warning: #da5d15;
    --soft-warning: #ffe6dc;
    --warning-transparent: #ff8a4717;
    --warning-semi-transparent: #ff8a4756;

    --success: #15925e;
    --text-success: #06995c;
    --soft-success: #d4ffee;
    --success-transparent: #23da8d17;
    --success-semi-transparent: #23da8d56;

    --soft-blue: #9ea6d2;
    --soft-blue-dark: #7680b1;
    --soft-blue-background: #ebeffd;
    --soft-blue-background-hover: #eeeeee;

    --header-height: 58px;
    --footer-height: 154px;

    @include maxWidth(600px) {
        --footer-height: 120px;
    }

    --mobile-border-margin: 18px;

    --content-size: calc(1000px + 2 * var(--mobile-border-margin));

    --preview-max-lines: 5;
}
