@import "../../mixins.scss";

#unsubscribed-message {
    text-align: center;
    color: var(--dark-soft);
    line-height: 24px;
    margin-bottom: 0;

    @include maxWidth(600px) {
        line-height: 22px;
        font-size: 14px;
    }
}

#back-home {
    color: var(--dark-soft);
    font-size: 12px;
}
