<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
            {{ encore_entry_link_tags('SimpleGreeting') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('SimpleGreeting') }}
        {% endblock %}
    </head>
    <body>
        <main id="main">
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
