@import "../../styles/fonts";
@import "../../styles/variables";

#custom-tags-container {
    display: flex;
    column-gap: 6px;
    row-gap: 6px;
    flex-wrap: wrap;

    .tag {
        font-family: Supreme;
        display: inline-flex;
        align-items: center;
        color: var(--responsive-table-label-color);
        column-gap: 4px;
        border-radius: 6px;
        padding: 4px 6px;
        text-decoration: none;
        transition: background-color 200ms ease-in-out;
        background-color: var(--border-tertiary-color);
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            background-color: var(--sidebar-menu-badge-bg);
        }
    }

    span {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
    }
}
