{% extends "layout-auth.html.twig" %}

{% block title %}
    Login - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags("page:login") }}
{% endblock stylesheets %}

{% block form_title %}
    Welcome back
{% endblock form_title %}

{% block form_subtitle %}
    Enter your credentials to access the platform
{% endblock form_subtitle %}

{% block body %}
    <form method="POST">
        <div class="inputs">
            <div class="custom-input-container">
                <div class="custom-input">
                    <i data-feather="user" class="input-icon" width="16px" height="16px" color="#52616b"></i>
                    <input type="text" name="identifier" placeholder="Enter your email or username" required />
                </div>
            </div>

            <div class="custom-input-container">
                <div class="custom-input">
                    <i data-feather="lock" class="input-icon" width="16px" height="16px" color="#52616b"></i>
                    <input type="password" name="password" placeholder="Enter your password" required />
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>

        {# <a id="forgot-password" href="#">Forgot password</a> #}
    </form>
{% endblock body %}

{# {% block additional_info %}
    <p>
        Don't have an account yet ? <a href="{{ url("auth_register") }}">Sign up</a>
    </p>
{% endblock additional_info %} #}
