name: "Release & PR autolabeler"

on:
    push:
        branches:
            - master
    pull_request:
        types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    update_release_draft:
        permissions:
            contents: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            # Drafts your next Release notes as Pull Requests are merged into "master"
            - uses: release-drafter/release-drafter@v5
              with:
                  config-name: .github/release-drafter.yml
                  disable-autolabeler: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
